body {
    background-color: gainsboro;
}
#home {
    position: absolute;
    text-align: center;
    font-size: 4vmin;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#surveystart {
    font-size: 3.5vmin;
}