body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

/* Start page */
.home {
    position: absolute;
    text-align: center;
    font-size: calc(12px + 1.5vw);
    top: 40%;
    left: 50%;  
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Start Survey Button */
#surveystart {
    font-size: calc(12px + 1vw);
    background-color: rgb(106, 173, 110);
    border: none;
}

/* Places Modal more in the middle */
#myModal {
    top: 20%
}

/* Enter Name buttons */
#submitUInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    background-color: rgb(106, 173, 110);
    color: white;
    height: 125%;
    width: 100%;
    border-radius: 10px;
}

/* title and subtitle div */
.content {
    display: inline;
    text-align: center;
}
/* Title for Each Quiz Page */
#title {
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
    background-color: rgb(238, 232, 223);
    padding-top: 25px;
    padding-bottom: 22px;
    padding-left: 25%;
    padding-right: 25%;
    width: fit-content;
    margin-top: 2.5%;
    font-size: calc(12px + 1.5vw);
    border-bottom: 3px solid rgb(214, 209, 202);
}

/* Subtitle for Each Quiz Title */
#subtitle {
    font-weight: 325;
    font-size: calc(12px + 0.5vw);
}

/* Geography Form */
.quizcss {
    font-size: calc(12px + 0.5vw);
}

/* Align Questions */
.questions {
    text-align: left;
    justify-content: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Tell User You Can Click */
.showclick:hover {
    cursor: pointer;
}

/* align retake quiz button center. */
#retake {
    text-align: center;
}