{% extends "layout.html" %}

{% block title %} Geography {% endblock %}

{% block quiz %} Geography Quiz {% endblock  %}

{% block quizheader %} Test your geography! {% endblock  %}

{% block content %}

<div class="quizcss">
  <form action="/math" method="post">
    <p>Which of the following continents is smaller than Europe?</p>
    <div class="questions">
      <input type="radio" id="asia" name="smallercont" required>
      <label for="asia">Asia</label><br>
      <input type="radio" id="namerica" name="smallercont">
      <label for="namerica">North America</label><br>
      <!-- Answer -->
      <input type="radio" id="australia" name="smallercont">
      <label for="australia">Australia</label><br>
      <!-- Answer -->
      <input type="radio" id="africa" name="smallercont">
      <label for="africa">Africa</label><br>
    </div>
  
    <br>
  
    <p>Which of the following mountains holds the title of "World's Tallest"?</p>
    <!-- Answer -->
    <input type="radio" id="everest" name="tallestmt" required>
    <label for="everest">Mt. Everest</label><br>
    <!-- Answer -->
    <input type="radio" id="fuji" name="tallestmt">
    <label for="fuji">Mt. Fuji</label><br>
    <input type="radio" id="kilimanjaro" name="tallestmt">
    <label for="kilimanjaro">Mt. Kilimanjaro</label><br>
    <input type="radio" id="mtkenya" name="tallestmt">
    <label for="mtkenya">Mt. Kenya</label><br>

    <br>

    <p>Which of the following countries has the greatest population</p>
    <input type="radio" id="us" name="greatestpop" required>
    <label for="us">United States</label><br>
    <input type="radio" id="russia" name="greatestpop">
    <label for="russia">Russia</label><br>
    <input type="radio" id="india" name="greatestpop">
    <label for="india">India</label><br>
    <!-- Answer -->
    <input type="radio" id="china" name="greatestpop">
    <label for="china">China</label><br>
    <!-- Answer -->

    <br>

    <p>Which of following states is the captial of America?</p>
    <input type="radio" id="california" name="capitalstate" required>
    <label for="california">California</label><br>
    <!-- Answer -->
    <input type="radio" id="washington" name="capitalstate">
    <label for="washington">Washington D.C.</label><br>
    <!-- Answer -->
    <input type="radio" id="arizona" name="capitalstate">
    <label for="arizona">Arizona</label><br>
    <input type="radio" id="texas" name="capitalstate">
    <label for="texas">Texas</label><br>

    <button type="submit" value="submit">Next</button>
  </form>
</div>

{% endblock %}