{% extends "layout.html" %}

{% block title %} Geography {% endblock %}

{% block quiz %} Geography Quiz {% endblock  %}

{% block quizheader %} Test your geography! {% endblock  %}

{% block content %}

<div class="quizcss">
  <form action="/math" method="post">
    <p>Which of the following continents is smaller than Europe?</p>
    <div class="questions">
      <input type="radio" value="Asia" class="showclick" id="asia" name="smallercont" required>
      <label for="asia">Asia</label><br>
      <input type="radio" value="North America" class="showclick" id="namerica" name="smallercont">
      <label for="namerica">North America</label><br>
      <input type="radio" value="Australia" class="showclick" id="australia" name="smallercont">
      <label for="australia">Australia</label><br>
      <input type="radio" value="Africa" class="showclick" id="africa" name="smallercont">
      <label for="africa">Africa</label><br>
    </div>
  
    <br>
  
    <p>Which of the following mountains holds the title of "World's Tallest"?</p>
    <div class="questions">
      <input type="radio" value="Mt. Everest" class="showclick" id="everest" name="tallestmt" required>
      <label for="everest">Mt. Everest</label><br>
      <input type="radio" value="Mt. Fuji" class="showclick" id="fuji" name="tallestmt">
      <label for="fuji">Mt. Fuji</label><br>
      <input type="radio" value="Mt. Kilimanjaro" class="showclick" id="kilimanjaro" name="tallestmt">
      <label for="kilimanjaro">Mt. Kilimanjaro</label><br>
      <input type="radio" value="Mt. Kenya" class="showclick" id="mtkenya" name="tallestmt">
      <label for="mtkenya">Mt. Kenya</label><br>
    </div>

    <br>

    <p>Which of the following countries has the greatest population</p>
    <div class="questions">
      <input type="radio" value="United States" class="showclick" id="us" name="greatestpop" required>
      <label for="us">United States</label><br>
      <input type="radio" value="Russia" class="showclick" id="russia" name="greatestpop">
      <label for="russia">Russia</label><br>
      <input type="radio" value="India" class="showclick" id="india" name="greatestpop">
      <label for="india">India</label><br>
      <input type="radio" value="China" class="showclick" id="china" name="greatestpop">
      <label for="china">China</label><br>
    </div>

    <br>

    <p>Which of following states is the captial of America?</p>
    <div class="questions">
      <input type="radio" value="California" class="showclick" id="california" name="capitalstate" required>
      <label for="california">California</label><br>
      <input type="radio" value="Washington D.C." class="showclick" id="washington" name="capitalstate">
      <label for="washington">Washington D.C.</label><br>
      <input type="radio" value="Arizona" class="showclick" id="arizona" name="capitalstate">
      <label for="arizona">Arizona</label><br>
      <input type="radio" value="Texas" class="showclick" id="texas" name="capitalstate">
      <label for="texas">Texas</label><br>
    </div>

    <button type="submit" value="submit">Next</button>
  </form>
</div>

{% endblock %}