{% extends "layout.html" %}

{% block title %} World History {% endblock %}

{% block quiz %} World History Quiz {% endblock  %}

{% block quizheader %} Test your world history! {% endblock  %}

{% block content %}

<div class="quizcss">
  <form action="/results" method="post">
    <p>When did the construction of the Great Wall of China begin?</p>
    <div class="questions">
      <input type="radio" value="7th Century BC" class="showclick" id="7thBC" name="wallchina" required>
      <label for="7thBC">7th Century BC</label><br>
      <input type="radio" value="8th Century BC" class="showclick" id="8thBC" name="wallchina">
      <label for="8thBC">8th Century BC</label><br>
      <input type="radio" value="7th Century AD" class="showclick" id="7thAD" name="wallchina">
      <label for="7thAD">7th Century AD</label><br>
      <input type="radio" value="1st Century BC" class="showclick" id="1stBC" name="wallchina">
      <label for="1stBC">1st Century BC</label><br>
    </div>
  
    <br>
  
    <p>During which war was a Christmas Truce called?</p>
    <div class="questions">
      <input type="radio" value="World War 2" class="showclick" id="ww2" name="xmastruce" required>
      <label for="ww2">World War 2</label><br>
      <input type="radio" value="Napoleonic Wars" class="showclick" id="napoleon" name="xmastruce">
      <label for="napoleon">Napoleonic Wars</label><br>
      <input type="radio" value="American Revolutionary War" class="showclick" id="americarev" name="xmastruce">
      <label for="americarev">American Revolutionary War</label><br>
      <input type="radio" value="World War 1" class="showclick" id="ww1" name="xmastruce">
      <label for="ww1">World War 1</label><br>
    </div>

    <br>

    <p>In what year is the Bubonic Plague believed to have started in Europe and Asia?</p>
    <div class="questions">
      <input type="radio" value="1346" class="showclick" id="yr1346" name="plaguestart" required>
      <label for="yr1346">1346</label><br>
      <input type="radio" value="1560" class="showclick" id="yr1560" name="plaguestart">
      <label for="yr1560">1560</label><br>
      <input type="radio" value="1364" class="showclick" id="yr1364" name="plaguestart">
      <label for="yr1364">1364</label><br>
      <input type="radio" value="864" class="showclick" id="yr864" name="plaguestart">
      <label for="yr864">864</label><br>
    </div>

    <br>

    <p>When did the roman empire fall?</p>
    <div class="questions">
      <input type="radio" value="842 BC" class="showclick" id="asia" name="romanfall" required>
      <label for="asia">842 BC</label><br>
      <input type="radio" value="464 AD" class="showclick" id="asia" name="romanfall">
      <label for="asia">464 AD</label><br>
      <input type="radio" value="395 AD" class="showclick" id="asia" name="romanfall">
      <label for="asia">395 AD</label><br>
      <input type="radio" value="226 BC" class="showclick" id="asia" name="romanfall">
      <label for="asia">226 BC</label><br>
    </div>
    
    <button type="submit" value="submit">Submit</button>
  </form>
</div>

{% endblock %}