{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="history">
  <form action="/results" method="POST">
    <p>Which of the following continents is smaller than Europe?</p>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
  
    <br>
  
    <p>Which of the following mountains holds the title of "World's Tallest"?</p>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>

    <br>

    <p>Which of the following countries has the greatest population</p>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>

    <br>

    <p>Which of following states is the captial of America?</p>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <input type="radio" id="asia" name="asia">
    <label for="asia">Asia</label><br>
    <button type="submit" value="submit">submit</button>
  </form>
</div>

{% endblock %}