{% extends "layout.html" %}

{% block title %} Math {% endblock %}

{% block quiz %} Math Quiz {% endblock  %}

{% block quizheader %} Test your math! {% endblock  %}

{% block content %}

<div class="quizcss">
  <form action="/history" method="post">
    <p>What is 1 + 1?</p>
    <div class="questions">
      <input type="radio" value="8" class="showclick" id="ans8" name="easy" required>
      <label for="ans8">8</label><br>
      <input type="radio" value="4" class="showclick" id="ans4" name="easy">
      <label for="ans4">4</label><br>
      <input type="radio" value="7" class="showclick" id="ans7" name="easy">
      <label for="ans7">7</label><br>
      <!-- Answer -->
      <input type="radio" value="2" class="showclick" id="ans2" name="easy">
      <label for="ans2">2</label><br>
      <!-- Answer -->
    </div>

    <br>
  
    <p>What is the Quadratic Formula?</p>
    <div class="questions">
      <input type="radio" value="a^2 + b^2 = c^2" class="showclick" id="pyth" name="quad" required>
      <label for="pyth">a^2 + b^2 = c^2</label><br>
      <input type="radio" value="πr^2" class="showclick" id="pi" name="quad">
      <label for="pi">πr^2</label><br>
      <!-- Answer -->
      <input type="radio" value="ax^2 + bx + c" class="showclick" id="quad" name="quad">
      <label for="quad">ax^2 + bx + c</label><br>
      <!-- Answer -->
      <input type="radio" value="y = mx + b" class="showclick" id="slope" name="quad">
      <label for="slope">y = mx + b</label><br>
    </div>
    

    <br>

    <p>Which of the following is a prime number</p>
    <div class="questions">
      <!-- Answer -->
      <input type="radio" value="67" class="showclick" id="ans67" name="prime" required>
      <label for="ans67">67</label><br>
      <!-- Answer -->
      <input type="radio" value="54" class="showclick" id="ans54" name="prime">
      <label for="ans54">54</label><br>
      <input type="radio" value="93" class="showclick" id="ans93" name="prime">
      <label for="ans93">93</label><br>
      <input type="radio" value="35" class="showclick" id="ans34" name="prime">
      <label for="ans34">35</label><br>
    </div>

    <br>

    <p>Apart from one, I am the first positive number that is both a square and a cube.</p>
    <div class="questions">
      <input type="radio" value="36" class="showclick" id="ans36" name="sqandcb" required>
      <label for="ans36">36</label><br>
      <!-- Answer -->
      <input type="radio" value="64" class="showclick" id="ans64" name="sqandcb">
      <label for="ans64">64</label><br>
      <!-- Answer -->
      <input type="radio" value="69" class="showclick" id="ans69" name="sqandcb">
      <label for="ans69">69</label><br>
      <input type="radio" value="25" class="showclick" id="ans25" name="sqandcb">
      <label for="ans25">25</label><br>
    </div>
    
    <button type="submit" value="submit">Next</button>
  </form>
</div>

{% endblock %}