{% extends "layout.html" %}

{% block title %} About You {% endblock %}

{% block quiz %} About the User {% endblock  %}

{% block quizheader %} Give us some details about yourself. {% endblock  %}

{% block content %}

<div id="formID">
  <form action="/userinfo" method="POST">
    <div class="row">
      <div class="col-sm-5">
        <input type="text" name="fname" id="fname" placeholder="Your name..."><br>
        <label for="fname">First Name</label>
      </div>
      <div class="col-sm-5">
        <input type="text" name="lname" id="lname" placeholder="Your last name..."><br>
        <label for="lname">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <input type="submit" value="Next Survey" id="submitUInfo">
      </div>
    </div>
  </form>
</div>


{% endblock %}